{% extends "base.html" %} 
{% load static %} 
{% block title %} Landing {%endblock %} 
{% block content %}
<div class="landing_container shadow-lg">
  <div class="landing_inner_container ">
    <div class="landing_text">
      <h1>Make Portfolio</h1>
      <p>Make your portfolio completely free with less time..</p>
      <h5>Free-Quick-Fast</h5>

      <a href="{% url 'edit' %}" class="btn btn-danger mt-2 start_now_btn">Start Now Free</a>
    </div>

   
  </div>

  <div class="image_container">
    <img
    class="landing_img"
    src="{%static 'assets/img/landing.svg'%}"
    alt=""
    srcset=""
  />
  </div>

</div>

<script>
  // console.log(document.getElementById('back').removeAttribute('id'))  
</script>
{% endblock %}
