<div id="project_edit" class="editProjects element_hide">
  {% include "mini/close_btn.html" with id="project_edit" %}
  <!-- <div onclick='show_hide("project_edit")' class="position-absolute top-0 end-0">
    <svg id="close_btn"   class="close_btn " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
      <line x1="18" y1="6" x2="6" y2="18">
      </line>
      <line x1="6" y1="6" x2="18" y2="18">
      </line>
    </svg>
    
  </div> -->
  <div class="scrollable" >
  <!-- <div id="hero_edit" class="editHero element_hide"> -->
  <h3 class="text-danger text-center" >Add Projects </h3c>
  
  <form class="" id="project_Form" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form">
      <div class="form-group ">
        <input type="text "  class="form-control my-5"  name="title" required="required" placeholder="Enter Project Name:">
      </div>
      


    <div class=" form-group mb-3 ">
      <div class="upload_container">
        <p>Enter Project Thumbnail : </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="1" style="width: 90px;height: 55px;color: gray;" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
        </svg>
        <div class="">
          <input  type="file" class="bg-white p-2 hidden_file_upload" id="imgInput" name="project_img"  required="required">
        </div>
      </div>
      
    </div>

    <div class="form-group ">
      <input type="text"   class="form-control my-5"   name="short_description" placeholder="Short description" required="required">
    </div>
    
 <div class="form-group ">
        <!-- <input type="text"   class="form-control my-5"  name="full_description" placeholder="Full Description"> -->

        {{ form.media }}
        {{ form.as_p}}
      </div>


    </div>

    <input id="add_project_btn" type="button" value="Add Project" class="btn btn-primary "/>

  
   
  </form>
  
</div>
</div>

  
  <script>

    
    const hideEdit = ()=>{
      // $('body').click(()=>{
      //   const elem = document.getElementById('project_edit');
      //   console.log("-_____ clicked...");
      //   elem.classList.remove("element_show");
      //   elem.classList.add("element_hide");

      // })

    }


  
  const updateProject = ()=>{
    
    $('#add_project_btn').click(()=>{
      console.log('for getting data');
      const title = document.getElementsByName("title")[0]
      const short_description = document.getElementsByName("short_description")[0]
      const full_description = document.getElementsByName("full_description")[0]
      const image = document.getElementById("imgInput")
    const csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[1]
    let data = new FormData();	
    // let formdata = new FormData($('#project_Form').get(0));	
      console.log(image.files[0]);
    data.append('title',title.value);
    data.append('short_description',short_description.value);
    data.append('full_description',full_description.value);
    data.append('image',image.files[0]);
    data.append('csrfmiddlewaretoken',csrfmiddlewaretoken.value);
      console.log(data);
    if(title.value===''){
      alert("Project Name can't be empty..")
    }else if(short_description.value===''){
      alert("Short description can't be empty..")
    }else{
      $.ajax({
        url:"{% url 'add_projects' %}",
        method:'POST',
        data:data,
        contentType: false,
        processData: false,
        mimeType:"multipart/form-data" ,
        success:(res)=>{
          console.log(res)
          console.log(res.data)
          alert("Project Added")
          window.reload()
        },
        error:(err)=>{
          console.log(err);
          alert("Some error occured,try again..")

        }
      })

    }
  
    console.log("project update btn clicked")
  })

  
  }
  
 
  $(document).ready(()=>{
    updateProject()
    hideEdit()
   
  }) 
  
  
  </script>