{%load static%}
<section id="projects_container">
    <div class="project_header">
        <h2>
          <span>02.</span>Services
        </h2>
      </div>
      <div class="project_container">
        <div class="project_cards_container">
            <div class="card__container">
                <div class="card__image">
                  <img src='{% static "assets/img/landing.svg" %}' alt="Not Found" />
                </div>
                <div class="card__header">Make Portfolio</div>
        
                <div class="card__desc">A quick and easy portfolio maker platform</div>
              </div>

              <div class="card__container">
                <div class="card__image">
                  <img src='' alt="Not Found" />
                </div>
                <div class="card__header">{props.header}</div>
        
                <div class="card__desc">{props.desc}</div>
              </div>
        </div>
      </div>


</section>