{%load static%}
<div
  class="card__container position-relative project"
  id="project_{{project.id}}"
>
  <!-- <div class="card__container position-relative" id=project_{{project.id}} onclick="showProject()"> -->
  <div class="edit_delete hide" id="options_{{project.id}}">
    <img
      class="pop_img btn btn-success mt-2"
      id="update_project"
      src="{% static 'assets/img/edit.svg' %}"
      alt="Edit"
      onclick="update_project_info('project_edit','{{project.id}}')"
      data-url="{% url 'view_project'  %}"
    />

    <form action="{% url 'delete_project' project.id  %}" method="POST">
      {% csrf_token %}


      <button type="submit" class="remove_button_property mt-2">
        <img
          class="pop_img btn btn-danger"
          id="delete_project"
          src="{% static 'assets/img/trash.svg' %}"
          alt="Delete"
        />
      </button>
    </form>
  </div>

  <div id="more_{{project.id}}" onclick="openMore('{{project.id}}')" class="">
    <!-- <div class="" onclick="more_option()"> -->
    <svg
      class="more_option"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-more-horizontal"
    >
      <circle cx="12" cy="12" r="1"></circle>
      <circle cx="19" cy="12" r="1"></circle>
      <circle cx="5" cy="12" r="1"></circle>
    </svg>
  </div>
  <input
    type="hidden"
    name="id"
    id="project_id"
    value="project_{{project.id}}"
  />
  <div class="position-absolute its_back"></div>
  <div class="card__image">
    <!-- <img src='{% static "assets/img/landing.svg" %}' alt="Not Found" /> -->
    <img src="{{project.image.url}}" alt="Not Found" />
  </div>
  <div class="card__header">
    <h1>{{project.title}}</h1>
  </div>

  <div class="card__desc"><p>{{project.short_description }}</p></div>

  <!-- <div class="">
    <h2 class="badge  bg-danger">Python</h2>
    <h2 class="badge  bg-danger">Js</h2>
    <h2 class="badge  bg-danger">Django</h2>
  </div> -->
  <div
    class="btn btn-outline-success view_more"
    onclick="showProject('{{project.id}}')"
  >
    View More
  </div>
</div>
