.edit_btn{
	background: var(--pink-red);
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
    cursor: pointer;
    z-index: 200;
}

.edit_btn:hover{
	background:rgb(238, 66, 66);


}
.editBar{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 50%; */
    left: 50%;
    transform: translate( -50%, -30% );
    z-index: 150;
    background-color: var(--white);
    border-radius: 10px;
    width: 70vw;

}

.editBar_close {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--navy-dark);
	background: var(--pink-red);
	position: absolute;
	top: -29px;
	right: -23px;
}
.editBar_menu{
    display: flex;
    height: 6rem;
    justify-content:space-between;
    align-items: center;
}

.editBar_menu button {
    width: 40%;
	border-radius: 6px;
	padding: 5px;
	color: white;
	font-size: 15px;
    height: 80%;
    margin:0 10px;
}

.editHero {
	width: 25vw;
	position: absolute;
	right: 10%;
	background: var(--dark);
	padding: 52px 31px;
	border-radius: 7px;
	bottom: 18%;
	position: fixed;
}
.element_hide {
	transform: translateX(100%);
	transition: var(--transition);
	visibility: hidden;
	opacity: 0;
  }

  .element_show {
	transform: translateX(0%);
	transition: var(--transition);
	visibility: visible;
	opacity: 1;
  }