{% load static %}

<nav id="home" class="navbar shadow-sm  navbar-expand-lg nav_container">
  
    <a class="navbar-brand text-capitalize text-xl" href="#"><img class="logo_image" src="{{navbar.logo.url}}" alt=""> </a>
   
   
    <button id = "mybtn" onclick="button_func()"
    class="hamburger hum_hide  hamburger--spin is-ac"
    type="button"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

    <div class="ms-auto   " id="navbarNav">
      <ul  id = "phone_nav" class="navbar-nav phone_nav menu_hide  ">
        <li class="nav-item me-3 active">
          <a class="nav-link" href="#home">Home </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link btn btn-success resume_btn" href="{{navbar.resume.url}}">Resume</a>
        </li>
      </ul>
    </div>
  </nav>

  <script src="{% static 'js/navbar.js' %}"></script>