body{
  /* filter: invert(1) hue-rotate(180) !important; */
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --white : #DDDDDD;
  --dark : #222831;
  --navy-dark:#30475E;
  --pink-red:#F05454;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.btn_pink_red{
  background-color: var(--pink-red);
}
html {
  font-size: 62.5%;
  font-family: var(--font-mono);
  /* overflow: hidden; */
  scroll-behavior: smooth;
  

}

#back{
	padding: 50px;
	background: var(--dark);
  /* filter: blur(2px); */
}
.background_full {
  background-color: var(--navy-dark);
  width: 100%;
  height: 100vh;
  border-radius: 10px;
}


.landing_container{
  background-color: var(--navy-dark);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_inner_container{
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark);
  border-radius: 20px;
  
}

.landing_text{
  width: 75%;
  text-align: center;
}
.landing_text h1{
  color: var(--pink-red);
  font-size: 4rem;
  font-family: Helvetica, sans-serif;
}

.landing_text h5{
  color: var(--white);
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.landing_text p{
  color: rgb(148, 148, 148);
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.landing_img {
  width: 50%;
  height: 75%;
  margin-right: 50px;
}

.modal_container{
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: none;
}

.modal_body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  /* background-color: #f5f5f5; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eyeContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;

}
.button_close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }
.eye_img {
    width: 82px;
    margin-bottom: 15px;
  }
.eye_p {
    margin-bottom: 40px;
    font-size: 18px;
  }

.button_accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}


@media only screen and (max-width: 1100px) {
  .port_hero h2 {
    font-size: 4rem;
  }
}

/* for Mobile devices */
@media only screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  html {
    font-size: 58.5%;
  }

  }