{% extends "base.html" %}

 {% load static %} 
 {% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css" />
<link
  rel="stylesheet"
  href="{% static 'css/edit/edit.css' %}"
  type="text/css"
/>

{% endblock %}
 {% block title %} Landing {%endblock%}
  {% block content %}
  <div style="background: {{color}};"  class="background_full">

  
    {% include "navbar/navbar.html" %} 
     {% include "Hero/hero.html" with data=data %}
     {% include "projects/projects_container.html" with published=1 %}
  </div>


{% endblock %}
