{% load socialaccount %} 

<section class="forms-section">
  <h1 class="section-title">
    Please,Do a Quick Signup,It won't take more than 20 seconds..
  </h1>
  <div class="forms">
    <div id='login_div' class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
      <form class="form form-login" method="POST" id="loginForm">
        {% csrf_token %}
        <fieldset>
          <div class="input-block">
            <label for="login-email">Username</label>
            <input
              id="login-email"
              type="text"
              class=""
              name="login_username"
              placeholder="Username"
              required="required"
            />
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input
              id="login-password"
              type="password"
              name="login_password"
              placeholder="Password"
              required="required"
            />
          </div>
        </fieldset>
        <button type="submit" id="login_btn" class="signup_button">
          Login
        </button>
        <div id='google_container'>
        <div class="or-seperator text-center text-capitalize text-white my-4">
          <b>oR</b>
        </div>
      
        <div class="social-btn text-center mb-5">
          <h4 class="">
            <a href="{% provider_login_url 'google' %}" class=""
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                width="80px"
                height="80px"
              >
                <path
                  fill="#FFC107"
                  d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                />
                <path
                  fill="#FF3D00"
                  d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                />
                <path
                  fill="#4CAF50"
                  d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                />
                <path
                  fill="#1976D2"
                  d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                />
              </svg>
            </a>
          </h4>
        </div>
      </div>
      </form>
      
    </div>
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
      <form class="form form-signup">
        <fieldset>
          <div class="input-block">
            <label for="signup-username">Username</label>
            <input id="signup-email" name="username" type="text" required />
          </div>
          <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" name="email" type="email" required />
          </div>
          <div class="input-block">
            <label for="signup-password ">Password</label>
            <input
              id="signup-password"
              name="password"
              type="password"
              required
            />
          </div>

          <div class="input-block">
            <label for="signup-password ">Confirm Password</label>
            <input
              id="signup-password"
              name="confirm_password"
              type="password"
              required
            />
          </div>
        </fieldset>
        <button type="submit" id="signup_btn" class="signup_button">
          Sign Up
        </button>

        
      </form>
    </div>
  </div>

</section>

<script>
  const signup_function = () => {
    $("#signup_btn").click((e) => {
      e.preventDefault();

      const username = document.getElementsByName("username")[0].value;
      const email = document.getElementsByName("email")[0].value;
      const password = document.getElementsByName("password")[0].value;
      const confirm_password =
        document.getElementsByName("confirm_password")[0].value;
      const csrfmiddlewaretoken = document.getElementsByName(
        "csrfmiddlewaretoken"
      )[0].value;

      if (
        username === "" ||
        email === "" ||
        password === "" ||
        confirm_password === ""
      ) {
        alert("Fields Can Not Be Empty..");
      } else if (password != confirm_password) {
        alert("Password didn't match..");
      }

      const data = {
        username: username,
        email: email,
        password: password,
        csrfmiddlewaretoken: csrfmiddlewaretoken,
      };
      $.ajax({
        url: "{% url 'register' %}",
        method: "POST",
        data: data,
        success: (res) => {
          console.log(res);
          alert("Account Created Successfully..");
        },
        error: (error) => {
          alert("Sign Up Failed..");
        },
      });

      console.log("signup update btn clicked");
    });
  };

  const Login_function = () => {
    $("#login_btn").click((e) => {
      e.preventDefault();
      console.log("login button clicked");
      const username = document.getElementsByName("login_username")[0].value;
      const password = document.getElementsByName("login_password")[0].value;
      const csrfmiddlewaretoken = document.getElementsByName(
        "csrfmiddlewaretoken"
      )[0].value;
      const data = {
        username: username,
        password: password,
        csrfmiddlewaretoken: csrfmiddlewaretoken,
      };
      $.ajax({
        url: "{% url 'login' %}",
        method: "POST",
        data: data,
        success: (res) => {
          console.log(res);
          if (res.status === 400) {
            alert(res.data);
          } else {
            window.location.reload(true);
          }
        },
      });
    });
  };

  const show_hide_google = ()=>{
    const login_div = document.getElementById('login_div');
    if(login_div.classList.contains('is-active')){
      document.getElementById("google_container").style.display = 'block';
    }else{
      document.getElementById("google_container").style.display = 'none';

    }
  }

  $(document).ready(() => {
    signup_function();
    Login_function();
    });
  


  const switchers = [...document.querySelectorAll(".switcher")];

  switchers.forEach((item) => {
    item.addEventListener("click", function () {
      switchers.forEach((item) =>
        item.parentElement.classList.remove("is-active")
      );
      this.parentElement.classList.add("is-active");
      show_hide_google();

    });
  });
</script>
