<div id="hero_edit" class="editHero element_hide">
<h3 class="text-danger text-center" >Edit Hero Section </h3c>

<form class="" method="POST" action="{% url 'hero_update' %}">
  {% csrf_token %}
  <div class="form">
    <div class="form-group ">
      <input type="text " oninput='on_form_input("before_name","main_before_name")' class="form-control my-5" id="inputEmail4" name="before_name" placeholder="Hi,my name is.">
    </div>
    <div class="form-group ">
      <input type="text" oninput='on_form_input("name","main_name")' class="form-control my-5" id="inputPassword4" name="name" placeholder="Md Rakibul Islam">
    </div>
  </div>
  <div class="form-group">
    <input type="text" oninput='on_form_input("before_desc","main_before_desc")' class="form-control my-5" id="inputAddress" name="before_desc" placeholder="I create stuff for the Internet.">
  </div>
  <div class="form-group">
    <input type="text"  oninput='on_form_input("desc","main_desc")' class="form-control my-5" id="inputAddress2" name="desc" placeholder="I am a Fullstack Web Devoloper ...">
  </div>

 
  <input id="hero_update_btn" type="button" value="Update" class="btn btn-primary "/>
</form>

</div>

<script>
const update_function = ()=>{
  $("#hero_update_btn").click(()=>{

    const before_name = document.getElementsByName("before_name")[0].value
    const name = document.getElementsByName("name")[0].value
    const before_desc = document.getElementsByName("before_desc")[0].value
    const desc = document.getElementsByName("desc")[0].value
    const csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value

    const data = {
      before_name:before_name,
      name:name,
      before_desc:before_desc,
      desc:desc,
      csrfmiddlewaretoken:csrfmiddlewaretoken,
      
    }
    $.ajax({
      url:"{% url 'hero_update' %}",
      method:'POST',
      data:data,
      success:(res)=>{
        console.log(res)
      }
    })

  console.log("hero update btn clicked")
})
}

const on_form_input = (form_inp,main_inp) =>{
  const before_name = document.getElementsByName(form_inp)[0].value
  const main_before_name =document.getElementById(main_inp);
  main_before_name.innerText = before_name

  }  
$(document).ready(()=>{
  update_function()
  on_form_input()
 
}) 


</script>