<div id="hero_edit" class="editHero element_hide">
<h3 class="text-danger text-center" >Edit Hero Section </h3c>

<form class="" method="POST" action="/edit/hero/">
  {% csrf_token %}
  <div class="form">
    <div class="form-group ">
      <input type="text " class="form-control my-5" id="inputEmail4" placeholder="Hi,my name is.">
    </div>
    <div class="form-group ">
      <input type="text" class="form-control my-5" id="inputPassword4" placeholder="Md Rakibul Islam">
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control my-5" id="inputAddress" placeholder="I create stuff for the Internet.">
  </div>
  <div class="form-group">
    <input type="text" class="form-control my-5" id="inputAddress2" placeholder="I am a Fullstack Web Devoloper ...">
  </div>

 
  <button type="submit" class="btn btn-primary">Update</button>
</form>

</div>