<div class="editBar shadow">
  <div class="editBar_close">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-x"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>

  <div class="editBar_menu">
    <button id="edit_nav_btn" class="btn btn_pink_red">Edit Navbar</button>

    <button id="edit_hero_btn" onclick='show_hide("hero_edit")' class="btn btn_pink_red">Edit Hero Section</button>

    <button id="edit_projects_btn" onclick='show_hide("project_edit")' class="btn btn_pink_red">Edit Projects</button>
    <button id="edit_about_btn" onclick='show_hide("about_edit")'  class="btn btn_pink_red">Edit About</button>
    <button id="edit_contact_btn"  onclick='show_hide("contact_edit")' class="btn btn_pink_red">Edit Contact</button>
    <button  id="edit_save_btn"class="btn btn-success">Save</button>
    <button  class="btn btn-info "><a href="{% url 'logout' %}" class="text-white text-decoration-none"> Log out</a></button>
    <p class="btn-success btn">Logged in as {{request.user}}</p>
 
  </div>
</div>
